* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid {
    width: 100%;
}
.img {
    width: 100px;
    height: 100px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    }
    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items:center ;
    }
.body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}
header > .container {
    padding: 40px 20px;
}
header .container .menu a {
    font-size: 0.875em;
    text-decoration:none;
    color: #4b4b4b;
    margin: 0 20px;
}
header .container .menu a:hover,header .container .menu a.active {
    color: #e4a13e;
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom: 3px solid #e4a13e;
}
header form div {
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #f3a954;
    border-radius: 50px;
}
header form div input {
    border: none;
    margin: 10px;
}

header form div input[type="submit"]{
    background-image: url("./images/image.png") ;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    }
    header form div input[type="submit"]:hover {
        cursor:pointer;
    }
    .photo {
        width: 50px;
        height: 45px;
    }
    header .photo div a {
        color: #fab637;
    }
